[submodule "emacs-modes/yaml-mode"]
	path = emacs-modes/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "emacs-modes/go-mode.el"]
	path = emacs-modes/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule "emacs-modes/flymake-jslint"]
	path = emacs-modes/flymake-jslint
	url = https://github.com/purcell/flymake-jslint.git
[submodule "emacs-modes/flymake-easy"]
	path = emacs-modes/flymake-easy
	url = https://github.com/purcell/flymake-easy.git
[submodule "emacs-modes/jshint-mode"]
	path = emacs-modes/jshint-mode
	url = https://github.com/daleharvey/jshint-mode.git
